/src/twophase/configproposalmanager/
/src/twophase/configproposalmanager/backoffmanager.go
/src/twophase/configproposalmanager/instancemanager.go
/src/twophase/configproposalmanager/proposalbookkeeping.go
